.article {
    max-width: 55%;
    padding: 16px;
    margin: 16px 22.5%;
    background: var(--primary-background);
}

.article .image-container {
    width: 25%;
    height: auto;
}

.article .article-content {
    width: 70%;
    margin-top: 0px;
}

.article h2{
    margin: 0px;
}

.article p {
    margin-top: 0px;
}

.article .article-link {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    padding: 4px 8px;
}

.article button {
    font-size: 16px;
    padding: 10px;
    color: var(--secondary-text);
    background-color: var(--tertiary-accent);
    border: none;
    border-radius: 4px;
}

.article .article-link:hover {
    text-decoration: underline;
}

.article-image {
    width: 100%;
    height: auto;
}

.publication-logo {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 0px;
}

.sort-section {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.sort-section button {
    font-size: 16px;
    padding: 8px 12px;
    color: var(--secondary-text);
    background-color: var(--tertiary-accent);
    border: 3px solid var(--tertiary-accent);
    border-radius: 4px;
    cursor: pointer;
}

.filter-section {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.filter-section > div {
    display: flex;
    gap: 8px;
}

.filter-section button {
    font-size: 16px;
    padding: 8px 12px;
    color: var(--secondary-text);
    background-color: var(--tertiary-accent);
    border: 3px solid var(--tertiary-accent);
    border-radius: 4px;
    cursor: pointer;
}

.no-articles-found{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.no-articles-found button {
    font-size: 16px;
    padding: 8px 12px;
    color: var(--secondary-text);
    background-color: var(--tertiary-accent);
    border: 3px solid var(--tertiary-accent);
    border-radius: 4px;
    cursor: pointer;
}

input {
    font-family: 'Martel', Arial, sans-serif;
    font-size: 16px;
    padding: 4px 8px;
    color: var(--tertiary-accent);
    background-color: var(--primary-accent);
    border: 3px solid var(--tertiary-accent);
    border-radius: 4px;
}

h4{
    margin-top: 0px;
    margin-bottom: 8px;
}

@media (max-width: 900px) {
    .article {
        max-width: 90%;
        margin: 16px 5%;
    }
    .article .image-container {
        width: 100%;
    }
    .article .article-content {
        width: 100%;
    }
    .sort-section,
     .filter-section {
        display: flex;
        flex-direction: column;
    }
    p{
        margin-bottom: 0px;
    }
}