nav {
    background-color: #000;
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 15px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.stan {
    font-weight: bold;
    margin-right: auto;
    font-size: 32px;
    margin: 0px;
}

.active {
    color:#E0BE9A;
}

.right-nav{
    display: inline-flex;
    gap: 1em;
}