nav {
    background-color: var(--secondary-background);
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    padding: 0px 15%;
}

.nav-link {
    color: var(--secondary-text);
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.stan {
    font-weight: bold;
    margin-right: auto;
    font-size: 32px;
    margin: 0px;
}

.active {
    color: var(--secondary-accent);
}

.right-nav{
    display: inline-flex;
    gap: 1em;
}