.col {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.about-me-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    color: var(--secondary-text);
    background-color: var(--secondary-background);
    width: 50%;
    margin: 0 auto;
}

.about-me-paragraph {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 900px) {
    .about-me-header,
    .about-me-paragraph {
        width: 80%;
    }
    .col{
        flex-direction: column;
    }
    .about-me-section {
        min-height: auto;
        padding-bottom: 1rem;
    }
}

.section {
    height: 40%;
    width: 100%;
    background-color: var(--primary-accent);
}

.section img{
    width: 50%;
    height: 25%;
    margin: 0 25%;
}