.col {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.about-me-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    color: #fff;
    background-color: #000;
    width: 50%;
    margin: 0 auto;
}

.about-me-paragraph {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.section {
    height: 40%;
    width: 100%;
    background-color: #FFF8F1;
}

.section img{
    width: 50%;
    height: 25%;
    margin: 0 25%;
}